:root {
  /*cac ma nau trang web*/
  --blue-color: #0069d9;
  --blue-footer: #45a0e9;
  --blue-card: #4eb0ff;
  --orange-log-out: #eb7b21;
  --blue-text-nav: #4aa4e7;
  --blue-text-title: #0f70bf;
  --blue-row-merged: #0abde3;
  --blue-row-merged-1: #0abde3;
  --blue-row-merged-2: #daefff;
  --grey-result: #eeeeee;
  --red-diff-calendar: #de1f45;
  --blue-choose-group-practice: #81ecec;
  --red-color: #dd3333;
}